td img{
    height: 120px !important;
    width: 90px !important;
}

.fa-trash:hover  {
    color: red;
    cursor: pointer;
}

.fa-pen-to-square:hover,
.fa-basket-shopping:hover {
    color: blue;
    cursor: pointer;
}
