td img{
    height: 120px !important;
    width: 90px !important;
}

.fa-trash:hover  {
    color: red;
    cursor: pointer;
}

.fa-pen-to-square:hover,
.fa-basket-shopping:hover {
    color: blue;
    cursor: pointer;
}

.table-responsive table tbody tr *{
    align-content: center !important;
}

.modal-del .modal-footer {
    border: 1px solid black !important;
    border-radius: 0px !important;
}

.fa-basket-shopping {
    color: rgb(195, 221, 221) !important;
    text-shadow: 1px 1px 1px #000;
}

.fa-trash {
    color: rgb(0, 0, 0) !important;
    text-shadow: 1px 1px 1px rgb(195, 221, 221);
}